
{% trans_default_domain 'core' %}

<div class="container container-sm px-8 shadow-lg pt-5 rounded">
    <div class="row">
        <div class="col-md-12 pb-3">
            {% if isEnabled %}
                <p>
                    <span class="badge badge-pill badge-success even-larger-badge text-center w-100" >
                        two-step verification is enabled
                    </span>
                </p>
                    
                {% if isLoggedInUser %}
                    <div class="form-group field-button text-center">
                        If you want to disable the two-step verifcation: 
                        <a href="{{ disableTwoFactorURL }}" target="_self" class="position-relative" style="font-size: var(--font-size-base);">
                            Click here to disable
                        </a>.
                    </div> 
                {% endif %}
                
            {% else %}
                <p>
                    <span class="badge badge-pill badge-warning even-larger-badge text-center w-100">
                        two-step verification is not enabled
                    </span>
                </p>

                {% if isLoggedInUser %}
                    <p>
                        The two-step verification increases the security of your account. 
                        In addition to your password, a code is required in a second step, which is displayed on your smartphone.
                    </p>

                    <p class="text-center">
                        <div class="form-group field-button text-center">
                            <a href="{{enableTwoFactorURL}}" class="btn btn-primary btn-lg btn-block position-relative" style="font-size: var(--font-size-base); font-weight:normal">
                                Click here to enable two-step verifcation
                            </a>
                        </div> 
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
