{% extends 'email/base.email.html.twig' %}

{% block email_body %}
   {% embed 'email/include/body.email.html.twig' %}
      {% set email_body_title = 'password_reset.email.body_title' | trans %}
   
      {% block email_body_content %}
         <p>
            {{ 'password_reset.email.body_text' | trans }}
         </p>

         {% include 'email/include/spacingTable.html.twig' %}

         <center>
            {% set btnURL = url('app_reset_password', {token: resetToken.token}) %}
            {% set btnText = 'password_reset.email.button_text' | trans %}
            {% include 'email/include/button.html.twig' with {'btnURL': btnURL, 'btnText' : btnText} %}
         </center>

         {% include 'email/include/spacingTable.html.twig' %}

         <p>
            {{ 'password_reset.email.deactivated_prefix'| trans({'expire' : resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}

         </p>                    
                              
      {% endblock email_body_content %}
   {% endembed %}
{% endblock email_body %}
