{% extends 'email/base.email.html.twig' %}

{% block email_body %}
   {% embed 'email/include/body.email.html.twig' %}
      {% set email_body_title = 'This is a test title' %}
   
      {% block email_body_content %}
            <p>This is the email body</p>
      {% endblock email_body_content %}
   {% endembed %}
{% endblock email_body %}
