{% extends 'email/base.email.html.twig' %}
{% trans_default_domain 'core' %}


{% block email_body %}
   {% embed 'email/include/body.email.html.twig' %}
      {% trans_default_domain 'core' %}

      {% set email_body_title = 'This is a test title' %}
   
      {% block email_body_content %}
            <p>This is the email body, with a <a href="https://foo.bar">link</a>  </p>
      {% endblock email_body_content %}
   {% endembed %}
{% endblock email_body %}
