{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to the GantiDashboard' %}

{% block page_content %}
    You find this page here: <pre>templates/bundles/EasyAdminBundle/dashboard/dashboard.html.twig</pre>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet justo donec enim diam vulputate ut. Id ornare arcu odio ut sem nulla pharetra diam. Accumsan tortor posuere ac ut consequat. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Volutpat blandit aliquam etiam erat velit. Vel quam elementum pulvinar etiam. Velit scelerisque in dictum non. Dui id ornare arcu odio. Elementum curabitur vitae nunc sed velit. Vitae congue eu consequat ac felis donec et. Malesuada pellentesque elit eget gravida cum sociis. Nisi quis eleifend quam adipiscing vitae. Euismod in pellentesque massa placerat duis ultricies lacus sed. Senectus et netus et malesuada fames ac turpis egestas integer. Eros donec ac odio tempor orci dapibus ultrices in iaculis.
    </p>
    <p>
        Erat nam at lectus urna duis convallis convallis tellus id. Blandit massa enim nec dui nunc mattis. Sed faucibus turpis in eu mi. Viverra nam libero justo laoreet. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Massa enim nec dui nunc mattis enim ut tellus. Eget gravida cum sociis natoque. Tristique et egestas quis ipsum suspendisse ultrices. A arcu cursus vitae congue. Rutrum quisque non tellus orci ac auctor augue mauris augue. Tempus egestas sed sed risus pretium. Lorem ipsum dolor sit amet consectetur.
    </p>
    
{% endblock %}